* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  $primaryColor: #fff;
  $textColor: #000;
  $formBtn: #ff6f47;

  body {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    color: $primaryColor;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
  }
  header {
    font-size: 1rem;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    input, button{
        padding: 0.5rem;
        font-size: 1.5rem;
        border: none;
        background: $primaryColor;
    }
    button {
        color: $formBtn;
        background: #f7fffe;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
            background: $formBtn;
            color: $primaryColor;
        }
    }
  }
  .todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .todo-list {
    min-width: 30%;
    list-style: none;
  }
  
  .todo {
    margin: 0.5rem;
    background: $primaryColor;
    font-size: 1rem;
    color: $textColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
  }
  .filter-todo {
    padding: 0.9rem;
  }
  .todo li {
    flex: 1;
  }
  
  .trash-btn,
  .complete-btn {
    background: $formBtn;
    color: $primaryColor;
    border: none;
    padding: 0.7rem;
    cursor: pointer;
    font-size: 1rem;
  }
  .complete-btn {
    background: rgb(11, 212, 162);
  }
  .todo-item {
    padding: 0rem 0.5rem;
  }
  
  .fa-trash,
  .fa-check {
    pointer-events: none;
  }
  
  .fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: 0;
  }
  
  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }
  
  /*CUSTOM SELECTOR */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
  }
  
  /* Custom Select */
  .select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
  }
  select {
    color: $formBtn;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    width: 12rem;
  }
  /* Arrow */
  .select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background: $formBtn;
    cursor: pointer;
    pointer-events: none;
  }
  /* Transition */
  /*
  .select:hover::after {
    transform: scale(1.5);
  }
  */